In [30]:
import collections
import pandas as pd
import functools
from functools import lru_cache
import sympy
import numpy as np

In [2]:
with open('../inputs/input25.txt', 'r') as f:
    lines = f.readlines()
n = len(lines)
for i in range(n):
    lines[i] = lines[i].strip()
lines

['1--',
 '1-',
 '1--02',
 '1122-=2-==0-0=1-2',
 '2=1-==-1022=10',
 '1==-02211022=000',
 '101==210-21=2',
 '11010==0==221=0=02',
 '11=1101020=02-11',
 '1===',
 '10-2',
 '10=02=-=02',
 '1-1--112-202--0',
 '11-=-0-002=0112-1',
 '2--0-2=02=-22',
 '1001-2',
 '1=101=2=2102-201--1',
 '1-2==1100--',
 '2-01=--=1-11',
 '101-=0010-210==',
 '1=-21-022121110',
 '1==21',
 '22==1',
 '2-0-=2=1',
 '2--0=10-00--2-',
 '1--1=011-2',
 '1-100-2',
 '11-1',
 '112',
 '222200110-11110-2=',
 '1==2-210-1122=-2022',
 '2==1-20-2-=-21',
 '21=1-=0=-1-=-=-12',
 '210---=-1===-===00',
 '1--21=01-022=2-',
 '11-=',
 '21-2',
 '2-22-0',
 '1==-',
 '1-----01',
 '1-0-21-',
 '211212-22-12--=2',
 '1=220=10=20200-0',
 '21-=11-==20=1',
 '102-2==2-==-0',
 '1=0=01-',
 '22=1--0111',
 '1-----=1==00===0-',
 '20==-1-121-',
 '1=--2--21-202=21',
 '1-0122=--=',
 '2==-2--===-=-1=-012',
 '2220=-00-10-',
 '1==0=---10212-1-',
 '1221=-022120',
 '100112',
 '2-=0=220-=01-1=12-',
 '1=00',
 '2122121=2',
 '2-==',
 '12-21===10220',
 '1=0',
 '22-1=--01-==0',
 '1-2-2202=1=02',
 '11-===21-',
 '1-22=0102-=-222-1',
 '1021=0=21=0=11=2-2',
 '1===2222=0-0=',
 '20=2-=0=',
 '1=2==02-1-100200',
 '1=1211211----',
 '12=1=1---=20',
 '2--2=2=1100020200',
 '1=0-002-11-10----',
 '1=1=-1=-0',
 '1-21=1=02=21=20',
 '1-=0-002-0=--=0=',
 '20-===-1=',
 '220021012',
 '12===1001=--=2=1-',
 '1=-02',
 '21',
 '2=200222122',
 '1-2=110111=012=1-',
 '1=02=',
 '101==1-=1=0001',
 '1=22--1-021',
 '120',
 '201-0211',
 '1-1012211--2=-1=',
 '12=10202=20',
 '11-22=2=2=-0==1=00',
 '11=-',
 '12-1--2222',
 '22',
 '1120--0==',
 '10=-0=001-',
 '1=00200200=',
 '1-20',
 '1-0-',
 '10112-202=-011',
 '11-2=',
 '1-=10=1-0=-21==11200',
 '11',
 '12-0-=01--12',
 '1-=1121-=0',
 '120-21=-1=10121=',
 '1102-22',
 '21=',
 '1==--1==---1-==',
 '12=0--=2210-1==',
 '22210=1-=0',
 '1102-20-1',
 '1=1=2102',
 '11--=2==-0',
 '2=0=1=',
 '21-0-10=',
 '12-212-2=-==102--',
 '1==0100210-=',
 '12210-0-1',
 '1=0-2-0=',
 '10-1=211=1-2=',
 '201-0--',
 '1--2=00=-1-211',
 '121=-22100=210--',
 '122-0-1-',
 '2=211',
 '2=1-=2-2-0001=-1',
 '1102--11=0=1=10==2',
 '1==01121-2--0=12',
 '2=21-20=-0-0',
 '2-212=21-02=1-2-02',
 '2=1-0',
 '10-0-=20',
 '2=2=201']

In [3]:
conversions = {'1':1, '2':2, '0':0, "-":-1, "=":-2}
normal_nums = []

In [6]:
def snafu_to_int(snafu):
    num = 0
    place = 1
    pointer = len(snafu)-1
    while (pointer>=0):
        num += conversions[snafu[pointer]]*place
        place *= 5
        pointer -= 1
    return num

In [8]:
for line in lines:
    normal_nums.append(snafu_to_int(line))
normal_nums

[19,
 4,
 477,
 197428746647,
 1987438955,
 15648913500,
 249390267,
 921040423702,
 34474759606,
 63,
 122,
 1801702,
 5070850220,
 174306766421,
 429422862,
 3147,
 2445480615721,
 8409994,
 88105106,
 6279373238,
 3523629530,
 336,
 1441,
 139791,
 2144906109,
 1493897,
 13122,
 146,
 32,
 1904355175608,
 2041252524637,
 1864052236,
 324360992857,
 1670791995325,
 4742251459,
 143,
 272,
 5920,
 64,
 58601,
 12429,
 68914988592,
 21222532495,
 523883366,
 262317820,
 9129,
 4543156,
 114434607824,
 18580804,
 16932490836,
 1585343,
 5778442798632,
 120921774,
 15759460229,
 72485910,
 3157,
 1310397669159,
 75,
 897767,
 213,
 336135060,
 15,
 577250440,
 213833202,
 445429,
 136240904671,
 827559737922,
 124020598,
 151073,
 20169596925,
 160659844,
 64699210,
 270588282550,
 90350065469,
 243195,
 5401588835,
 21924524198,
 757853,
 938882,
 198535370829,
 352,
 11,
 16414037,
 132131297704,
 383,
 1246376876,
 6778636,
 35,
 158806,
 25707482228,
 12975210,
 899251086325,
 139,
 2668437,
 12,
 499238,
 1780004,
 5890873,
 110,
 99,
 1282973631,
 733,
 13874246916425,
 6,
 66297357,
 1426340,
 42583643928,
 18987,
 53,
 3116230713,
 8044331138,
 4858215,
 474621,
 49027,
 2244695,
 4953,
 168648,
 210295978794,
 25470118,
 581121,
 46473,
 235720733,
 31744,
 943325556,
 43432026369,
 114979,
 1056,
 49725312571,
 926324072442,
 15931980582,
 82373620,
 1442488408977,
 1020,
 74835,
 26051]

In [24]:
total_fuel = sum(normal_nums)
total_fuel

36332109854235

In [25]:
#Answer to Part 1
snafu = ""
while (total_fuel > 0):
    place = total_fuel%5
    if place<3:
        snafu = str(place)+snafu
        total_fuel = total_fuel // 5
    elif place == 3:
        snafu = "=" + snafu
        total_fuel = (total_fuel // 5) + 1
    elif place == 4:
        snafu = "-" + snafu
        total_fuel = (total_fuel // 5)+1
print(snafu)

20==1==12=0111=2--20